<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <header></header>
    <main>
        <section class="portada">
                <div class="boton-izq">
                    <i class="fa-solid fa-backward"></i>
                </div>
                <img title="Promocion 2024" src="/img/portada1.webp" alt="Promocion gaming mode">
                <div class="boton-der">
                    <i class="fa-solid fa-forward"></i>
                </div>            
        </section>
        <section class="section-novedades">
            <h2>NOVEDADES</h2>
            <div class="campo-novedades">
                <article class="campo-articulo">
                    <a href="/detalleDeProducto">
                        <img src="/img/monitorGamer1.jpg" alt="Monitor Gamer Samsung 24">
                        <div class="campo-articulo-info">
                            <p>$ 254.900</p>
                            <h4>Monitor Gamer Samsung 24" G50 Curvo 144Hz Full HD VA FreeSync</h4>
                        </div>
                        <div class="campo-articulo-boton">
                            <form action="#">
                                <button class="boton-agregar">Agregar al carrito</button>
                            </form>
                        </div>
                    </a>
                </article>
                <article  class="campo-articulo">
                    <a href="/detalleDeProducto">
                        <img src="/img/consolaPlaystation5.webp" alt="Playstation 5 God of War">
                        <div class="campo-articulo-info">
                            <p>$ 1.695.999</p>
                            <h4>Consola Sony Playstation 5 HW Standard God of War</h4>
                        </div>
                        <div class="campo-articulo-boton">
                            <form action="#">
                                <button class="boton-agregar">Agregar al carrito</button>
                            </form>
                        </div>
                    </a>
                </article>
                <article class="campo-articulo">
                    <a href="/detalleDeProducto">
                        <img src="/img/pcAsus.jpg" alt="Pc Asus Ryzen 3">
                        <div class="campo-articulo-info">
                            <p>$523.799</p>
                            <h4>Pc Asus Ryzen 3 3200g 16gb</h4>
                        </div>
                        <div class="campo-articulo-boton">
                            <form action="#">
                                <button class="boton-agregar">Agregar al carrito</button>
                            </form>
                        </div>
                    </a>
                </article>
            </div>
        </section>
    </main>
    <footer></footer>
    <script src="https://kit.fontawesome.com/a149776702.js" crossorigin="anonymous"></script>
</body>
</html>