<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <main>
        <section class="section-detalle">
            <div class="campo-detalle">
                <h1>Monitor Gamer Samsung 24" G50 Curvo 144Hz Full HD VA FreeSync</h1>
                <h2>$ 254.900</h2>
                <div class="condiciones-de-compra">
                    <i class="fas fa-shield-alt"></i>
                    <H3>Garantia</H3>
                </div>
                <div class="condiciones-de-compra">
                    <i class="fas fa-check-square"></i>
                    <h3>Stock</h3>
                </div>
                <div class="condiciones-de-compra">
                    <i class="fas fa-truck"></i>
                    <h3>Envio</h3>
                </div>
                <div>
                    <form action="/" class="form-cantidad">
                        <input type="text" placeholder="1">
                        <button>Agregar al carrito</button>
                    </form>
                </div>
            </div>
            <div class="campo-imagenes">
                <div class="campo-imagen-grande">
                    <img src="/img/monitorGamer1.jpg" alt="Monitor Gamer Samsung 24">
                </div>
                <div class="campo-imagenes-chicas">
                    <img src="/img/monitorGamer2.jpg">
                    <img src="/img/monitorGamer3.jpg">
                    <img src="/img/monitorGamer4.jpg">
                    <img src="/img/monitorGamer5.jpg">
                </div>
            </div>
        </section>
        <section class="section-caracteristicas">
           <h3>ESPECIFICACIONES</h3> 
            <ul>
                <li><h4>Curvatura1800R</h4></li>
                <li><h4>Relación de aspecto16:9</h4></li>
                <li><h4>Brillo (Típico)250 cd/?</h4></li>
                <li><h4>Relación de contraste estática3,000:1 (Typ)</h4></li>
                <li><h4>Resolución1,920 x 1,080</h4></li>
                <li><h4>Tiempo de respuesta4ms (GTG)</h4></li>
            </ul>
        </section>
    </main>
    <footer></footer>
</body>
</html>