/* 
COLORES 
azul: #215FFF
*/

/* ESTILOS BASE (MOBILE/CELULAR/SMARTPHONE) --------------------------------------*/
title {
    display: none;
}

header div {
    background-color: #215fff;
}

header img {
    width: 80%;
    margin: auto;
}

header #logo {
    background-color: white;

}

header .personal {
    padding-bottom: 3px;
}

header .buscador {
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

header .buscador input {
    font-size: 13px;
    width: 100%;
    padding: 5px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

header .buscador button {
    background-color: white;
    border: 0;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

header .buscador i {
    font-size: 15px;
}

header .cuenta {
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

header .cuenta a {
    color: #ebebeb;
    padding-left: 5px;
    padding-right: 5px;
}

header .cuenta i {
    font-size: 15px;
}

header #sesion {
    width: 85%;
}

header #carrito {
    width: 15%;
}

header nav {
    background-color: #215fff;
    padding: 10px;
    display: none;
}

header nav li {
    margin-bottom: 10px;
}

header nav li a {
    color: white;
}

header nav li a:hover {
    color: black;
}

header .boton-desplegable {
    padding-bottom: 5px;
}

header .boton-desplegable button {
    width: 2.5em;
    height: 2.5em;
    margin: auto;
    border: 0;
    border-radius: 5px;
}

header .boton-desplegable i {
    font-size: 20px;
}

header a {
    text-decoration: none;
}


/* ESTILOS PARA TABLETS ------------------------------------------*/
@media (min-width:574px) {
    header {
        /* position: fixed;
        width: 100%;
        z-index: 100; */
    }

    header .personal #logo {
        width: 40%;
    }

    header .personal {
        padding: 0;
    }

    #logo img {
        width: 60%;
    }

    header .personal .buscador {
        margin: auto;
        justify-content: center;
    }

    header .buscador input {
        width: 50%;
    }

    header .cuenta {
        display: none;
    }

    header #sesion {
        width: 100%;
    }

    header nav {
        display: flex;
        justify-content: space-between;
    }

    header nav ul {
        display: flex;
        text-align: center;
    }

    header nav li {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
    }

    header .personal {
        border-bottom: solid 1px #ebebeb;
        display: flex;
    }

    header .boton-desplegable {
        display: none;
    }
}

/* ESTILOS PARA DESKTOP ------------------------------------------*/
@media (min-width:769px) {
    header .buscador {
        width: 300px;
    }

    header .buscador input {
        width: 100%;
        font-size: 15px;
        padding: 8px;
    }

    header nav li {
        padding-left: 15px;
        padding-right: 15px;
    }

}