/* 
COLORES 
azul: #215FFF
*/

/* ESTILOS BASE PARA MOBILE --------------------------------------*/
title {
    display: none;
}

header {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: block;
    /* padding-bottom: 10px; */
    margin-bottom: 10px;
}

header div {
    background-color: #215fff;
}

header img {
    width: 100vw;
    margin: auto;
}

.personal {
    padding-top: 3px;
    padding-bottom: 3px;
}

.buscador {
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buscador input {
    width: 100%;
}

.cuenta {
    width: 50vw;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
}

.cuenta a {
    color: #ebebeb;
    padding-left: 5px;
    padding-right: 5px;
}

#sesion {
    width: 85%;
}

#carrito {
    width: 15%;
}

nav {
    background-color: #215fff;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

nav li {
    margin-bottom: 10px;
}

nav li a {
    color: white;
}

nav li a:hover {
    color: black;
}

.boton-desplegable {
    padding-bottom: 5px;
}

.boton-desplegable button {
    width: 2em;
    height: 2em;
    margin: auto;
}

header a {
    text-decoration: none;
}


/* ESTILOS PARA TABLETS ------------------------------------------*/
@media (min-width:574px) {
    #logo img {
        width: 50%;
    }

    nav {
        display: block;
    }

    .personal {
        padding-top: 5px;
        border-bottom: solid 1px #ebebeb;
    }

    .boton-desplegable {
        display: none;
    }
}

/* ESTILOS PARA DESKTOP ------------------------------------------*/
@media (min-width:769px) {
    .personal {
        display: flex;
    }

    .buscador {
        width: 300px;
    }

    nav ul {
        display: flex;
        text-align: center;
    }

    nav li {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 10px;
    }

    nav a {
        font-size: 20px;
    }
}