.list {
    padding: 5px 20%;
}
.list-li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.list-user-details {
    display: flex;
    align-items: center;
    width: 60%;
}

.list-user-buttons {
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.button-up {
    background-color: #0aaf2e;
    border: 1px solid transparent;
    padding: 10px;
}
.button-down {
    background-color: #ff0000;
    border: 1px solid transparent;
    padding: 10px;
}


.div-list-user-details{
    text-align: left;
    width: 50%;
}