main {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.section-detalle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.campo-imagenes {
    max-width: 320px;
    width: 100%;
    padding: 30px;
}

.campo-imagen-grande {
    display: flex;
    margin-bottom: 20px;
}

.campo-imagen-grande img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.campo-imagenes-chicas {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

}

.campo-imagenes-chicas img {
    width: 100px;
    padding: 10px 0px;
    margin: 10px 0px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.campo-detalle {
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding: 20px 20px;
}

main h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

main h2 {
    color: #215FFF;
    font-size: 1.5rem;
    border: 2px solid #215FFF;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 0% 7%;
}

.condiciones-de-compra {
    margin: 15px 0px;
    display: flex;
    color: #00ff00;
    font-size: 1.3rem;
    align-items: center;
}

main i {
    width: 15%;
    font-size: 2rem;
    text-align: center;
    margin: 0px 10px;
}

.section-caracteristicas {
    width: 100%;
    max-width: 500px;
    padding-left: 60px;
    padding-bottom: 20px;
}

.section-caracteristicas h3 {
    margin-bottom: 15px;
}

.form-cantidad {
    display: flex;
    align-items: center;
}

.form-cantidad input {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0px 10px;
}

.form-cantidad>button {
    color: #fff;
    font-size: 1.2rem;
    width: 16rem;
    padding: 15px;
    border-radius: 10px;
    background-color: #215FFF;
    border: 1px solid transparent;
}

@media (min-width: 767px) {
    main {
        font-size: 16px;
    }

    .campo-imagenes,
    .section-caracteristicas,
    .campo-detalle {
        max-width: 700px;
    }

}

@media (min-width: 1024px) {
    main {
        font-size: 20px;
        padding: 10px 60px;
    }

    .campo-imagenes {
        min-width: 500px;
    }

    .campo-detalle {
        order: 1;
    }

    .section-detalle,
    .section-caracteristicas {
        max-width: 1600px;
        flex-direction: row;
        align-items: flex-start;
    }

    .campo-imagenes-chicas img {
        transition: width 0.5s;
    }

    .campo-imagenes-chicas img:hover {
        width: 120px;
    }

}