.main-register {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 40px 0;
  margin: 0 auto;
}

.main-register a {
  color: black;
  text-decoration: none;
}

.main-register input {
  border: none;

  font-size: 17px;
}
.main-register .form-title{
  border: none;
  color: black;
}
.form-register {
  display: flex;
  flex-direction: column;
  width: min(90%, 500px);
  font-size: 17px;
  text-align: center;
  margin: auto;

}

.form-register fieldset {
  border-radius: 10px;
  padding: 20px;
}

.campo-info {
  margin-top: 30px;
  position: relative;
}

.campo-info label {
  color: gray;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  text-align: left;
  pointer-events: none;
  left: 10px;
  top: 25%;
  transition: .3s;
}


.campo-info input {
  height: 30px;
  border-bottom: 2px solid gray;
  padding: 10px 0;
  outline: none;
  width: 100%;

}

.campo-info input:focus {
  border-bottom: 2px solid #3498db
}

.campo-info input:valid~.label-form,
.campo-info input:focus~.label-form {
  top: -60%;
  left: 0px;
  color: #3498db;

}

.btn {
  margin: 20px;
  padding: 10px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  color: white;
  background-color: #3498db;
}

.link-login:hover {
  color: #3498db;
}