<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %>

<body>
    <!-- HEADER -->
    <%- include('partials/header.ejs') %>

    <main>
        <section class="about" id="about">

            <h1 class="heading"> <span> Acerca de </span> nosotros </h1>
    
            <div class="row">
    
                <div class="content">
                    <h3>¿Porque elegirnos?</h3>
                    <p>En Shop-Electronic, entendemos la importancia de la tecnología en la vida diaria y nos
                        enorgullece
                        ser tu socio de confianza en el emocionante mundo de la electrónica. Desde los entusiastas de la
                        tecnología hasta los profesionales, ofrecemos una amplia gama de productos de alta calidad y las
                        últimas novedades en componentes electrónicos y computadoras.</p>
                </div>
    
            </div>
    
        </section>
    
        <section class="icons-container">
    
            <div class="icons">
                <div class="info">
                    <h3>Compromiso con la Calidad</h3>
                    <span>Comprometidos con la más alta calidad, ofrecemos productos seleccionados cuidadosamente de los
                        principales fabricantes para garantizar excelencia en cada compra en Shop-Electronic.</span>
                </div>
            </div>
    
            <div class="icons">
                <div class="info">
                    <h3>Variedad y Selección</h3>
                    <span>Amplia gama de productos electrónicos de alta calidad en Shop-Electronic, que incluye desde
                        placas
                        madre hasta componentes especializados, para satisfacer todas tus necesidades
                        tecnológicas.</span>
                </div>
            </div>
    
            <div class="icons">
                <div class="info">
                    <h3>Asesoramiento Técnico</h3>
                    <span>Nuestro equipo de expertos está siempre disponible en Shop-Electronic para brindarte
                        asesoramiento
                        técnico, asegurando decisiones informadas y una experiencia de compra confiable.</span>
                </div>
            </div>
    
            <div class="icons">
                <div class="info">
                    <h3>Compromiso con la Satisfacción del Cliente</h3>
                    <span>En Shop-Electronic, priorizamos la satisfacción del cliente. Trabajamos arduamente para
                        superar
                        expectativas y garantizar una experiencia de compra excepcional en cada elección que
                        hagas.</span>
                </div>
            </div>
    
        </section>
    
        <section class="contact" id="contact">
            <h1 class="heading"> <span> Miembros</span></h1>
            <div class="row">
                <section class="members" id="members">
                    <div class="info">
                        <h3>Churquina, Javier Pablo</h3>
                        <span>Soy de Jujuy, Argentina. Estudiante de la carrera Ingeniería Informática en la Facultad de Ingeniería de la Universidad Nacional de Jujuy. En mis ratos libres me gusta ver videos de ciencia, animales, el cosmos, y tambien ver películas.</span>
                        <a href="https://github.com/javis14"><i class="fab fa-github"></i></a>
                    </div>
                    <div class="info">
                        <h3>Ordo-ez, Leonel Omar</h3>
                        <span>Soy estudiante de Ing. Informatica en la UNJu, vivo en Palpalá, me gusta pasar tiempo frente a la computadora y salir con amigos. "No importa lo lento que vayas, siempre y cuando no te detengas." - Confucio.</span>
                        <a href="https://github.com/leo2296"><i class="fab fa-github"></i></a>
                    </div>
                    <div class="info">
                        <h3>Alvarado, Carlos Luis</h3>
                        <span>Soy jujeño , vivo en la localidad de Los Alisos, estoy estudiando la carrera de Ingeniería Informática en la UNJU-FI, fanatico de River y en mis tiempos libres juego al fútbol o al Counter. "Si tienes miedo de fallar, probablemente falles" - Kobe Bryant.</span>
                        <a href="https://github.com/carlos-luis-alvarado"><i class="fab fa-github"></i></a>
                    </div>    
                </section>

                <section class="members" id="members">
                    <div class="info">
                        <h3>Tito Rodriguez, Miguel Angel</h3>
                        <span>Estudiante avanzado de Ing. Informatica y Jujeño, me gusta salir a andar en bicicleta y mirar series en mis tiempos libres. "La inspiración existe, pero tiene que encontrarte trabajando." - Pablo Picasso".</span>
                        <a href="https://github.com/Miguel-TR"><i class="fab fa-github"></i></a>
                    </div>
                    <div class="info">
                        <h3>Ignacio Gutierrez</h3>
                        <span>Estudiante de Ingenieria informatica.</span>
                        <a href="https://github.com/IgnacioG04"><i class="fab fa-github"></i></a>
                    </div>    
                </section>
                
    
            </div>
        </section>
        
    </main>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>

</body>

</html>