<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>

<body>
    <!-- HEADER -->
    <%- include('partials/header.ejs') %>

    <div class="container">
        <main class="row">

            <!-- inicio de la sección izquierda (columna)-->

            <section class="col left">

                <!--Empieza el titulo-->

                <div class="contactTitle">
                    <h2>CONTÁCTENOS</h2>
                    <p>No dudes en escribirnos por cualquiera de nuestras vías. Estamos para ayudarte. Visitá nuestra tienda y encontrarás todo lo que necesitás referido a la tecnologia, a buen precio y con la mejor calidad.</p>
                </div>
                <!-- Fin del titulo-->

                <!-- Inicio de la informacion del contacto  -->
            <section class="left">
                <div class="contactInfo">
                    <div class="iconGroup">
                        <div class="icon">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="details">
                            <span>Telefono</span>
                            <span>+38859 190</span>
                        </div>
                    </div>
                    <div class="iconGroup">
                        <div class="icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="details">
                            <span>Email</span>
                            <span>e-commerce@gmail.com</span>
                        </div>
                    </div>
                    <div class="iconGroup">
                        <div class="icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="details">
                            <span>Localizacion</span>
                            <span>X street, Y road</span>
                        </div>
                    </div>
                </div>
            </section>
                <!--Fin de la informacion de contacto-->

                <!--Redes sociales inicio-->
                <div class="socialMedia">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <!--Fin redes sociales-->
            </section>

            <!-- fin de la sección izquierda (columna)-->

            <!-- inicio de la seccion derecha (columna)-->

            <section class="col right">
                <!-- Inicia el formulario-->
                <form class="messageForm" action="https://formspree.io/f/mdoqrnlq" method="POST">
                    <div class="inputGroup halfWidth">
                        <input type="text" name="nombre" required="required">
                        <label>Nombre</label>
                    </div>
                    <div class="inputGroup halfWidth">
                        <input type="email" name="email" required="required">
                        <label>Email</label>
                    </div>
                
                    <div class="inputGroup fullWidth">
                        <input type="text" name="tema" required="required">
                        <label>Tema</label>
                    </div>
                    <div class="inputGroup fullWidth">
                        <textarea name="mensaje" required="required"></textarea>
                        <label>Mensaje</label>
                    </div>
                    <div class="inputGroup fullWidth">
                        <button type="submit">Enviar mensaje</button>
                    </div>
                </form>                
                <!--Fin del formulario-->
            </section>

            <!-- fin de la seccion derecha (columna)-->
        </main>
    </div>
    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>
</body>
</html>