<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs',{title:'Crear producto'}) %>

<body>
    <!-- HEADER -->
    <% if(user){ %>
      <%- include('partials/headerUser.ejs',{user}) %>

  <% }else{ %>
      <%- include('partials/header.ejs') %>
  <% } %>

  <main class="main-crear-producto">
    <section class="container">
      <form id="" action="" method="POST" class="form-register">
        <fieldset>
          <legend>
            
          </legend>
          <div class="campo-info">
            <input name="title" type="text" required>
            <label class="label-form" for="title">Ingresa el titulo del producto
            </label>
          </div>
          <div class="campo-info campo-info-descripcion">
            <label for="specifications">Especificacion</label>
            <textarea name="specifications" class="label-form" rows="3" value=""></textarea>
          </div>
          <div class="campo-info">
            <input name="brand" type="text" required>
            <label class="label-form" for="brand">Ingresa la marca del producto
            </label>
          </div>
          <div class="campo-info">
            <input name="warranty" type="text" required>
            <label class="label-form" for="warranty">Ingresa la garantia del producto
            </label>
          </div>
          <div class="campo-info">
            <input name="price" type="text" required>
            <label class="label-form" for="price">Ingresa el Precio del Producto</label>
          </div>
          <div class="campo-info">
            <input name="discount" type="text" required>
            <label class="label-form" for="discount">Ingresa el descuento</label>
          </div>
          <div class="campo-info">
            <input name="stock" type="text" required>
            <label class="label-form" for="stock">Ingresa el Stock</label>
          </div>
          
          <div class="campo-info">
            <input name="category" type="text" required>
            <label class="label-form" for="category">Ingresa el Category</label>
            
          </div>
          <div class="campo-info campo-info-categoria">
            <label for="">Subir Imagen</label>
            <input name="image" class="" type="file" id="">
  
          </div>
          <div class="campo-info campo-info-descripcion">
            <label for="description">Descripcion Producto</label>
            <textarea name="description" class="label-form" rows="3" value=""></textarea>
          </div>
  
  
          <div class="campo-info">
            <button type="submit" class="btn" id="">Crear producto</button>
            <button type="submit" class="btn" id="button-eliminar-producto">Editar Producto</button>
          </div>
  
      </form>
    </section>
  </main>
  

    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>
    
</body>

</html>