<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %>

<body>
    <!-- HEADER -->
    <%- include('partials/headerUser.ejs',{user}) %>
    <main class="main-register">
        <form class="form-register" action="/editUserPass/?_method=PUT" method="POST">
          <fieldset>
            <h2 class="form-title">Cambiar contraseña</h2>
            <div class="campo-info">
              <input type="password" name="passwordOld"/>
              <label class="label-form" for="constraseña">Ingresa tu contraseña actual</label>
            </div>
            <div class="campo-info">
              <input type="password" name="passwordNew"/>
              <label class="label-form" for="constraseña">Ingresa tu nueva contraseña</label>
            </div>
            <div class="campo-info">
              <input type="password" name="passwordConfirmation"/>
              <label class="label-form" for="constraseña">Confirma tu nueva Contraseña</label>
            </div>
            <input class="btn" type="submit" value="Confirmar cambios" />
            <a href="/userDetail/" class="btn btn-cancel">Cancelar</a>
          </fieldset>
        </form>
      </main>
    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>
</body>

</html>