<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <main>
        <section class="portada">
            <div class="boton-izq">
                <i class="fas fa-backward"></i>
            </div>
            <img title="Promocion 2024" src="/img/portada1.webp" alt="Promocion gaming mode">
            <div class="boton-der">
                <i class="fas fa-forward"></i>
            </div>            
        </section>
        <section class="section-novedades">
            <h2>NOVEDADES</h2>
            <div class="campo-novedades">
                <% products.map((product) =>{ %>
                <article class="campo-articulo">
                    <a href="#">
                        <img src= "/img/<%= product.img[0] %>" alt="<%= product.title %>">
                        <div class="campo-articulo-info">
                            <p>$<%= product.price %></p>
                            <h4><%= product.title %></h4>
                        </div>
                        <div class="campo-articulo-boton">
                            <form action="#">
                                <button class="boton-agregar">Agregar al carrito</button>
                            </form>
                        </div>
                    </a>
                </article>
                <% }) %>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>