<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %>

<body>
    <!-- HEADER -->
    <%- include('partials/header.ejs') %>

  <main>
    <form class="form-login">
      <fieldset>
        <h2>Iniciar Sesión</h2>
        <p>¡Bienvenido de nuevo! Inicie sesión en su cuenta a continuación!</p>
        <div class="campo-info">
          <input type="text" name="email" required />
          <label for="email" class="label-form">Ingresa tu email</label>
        </div>

        <div class="campo-info">
          <input type="password" name="password" required />
          <label for="constraseña" class="label-form">Ingresa tu constraseña</label>
        </div>
        <p class="recuperar-contra"><a href="#">¿Olvidaste tu contraseña?</a></p>
        <input class="btn" type="submit" value="Iniciar Sesión" />
        <p>¿No tenés cuenta aun? <a class="link-crear-cuenta" href="#">Crear Cuenta</a></p>
      </fieldset>
    </form>
  </main>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>
</body>

</html>