<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/register.css">
  <title><%= title %></title>
</head>

<body>
  <header>
    header
  </header>
  <main>
    <form class="form-register">
      <fieldset>
        <h2>Crear Cuenta</h2>
        <p>Compra más rápido y lleva el control de tus pedidos, ¡en un solo lugar!</p>
        <div class="campo-info">
          <input type="text" name="nombre" required />
          <label class="label-form" for="nombre">Ingresa tu nombre</label>

        </div>
        <div class="campo-info">
          <input type="text" name="apellido" required />
          <label class="label-form" for="apellido">Ingresa tu apeliido</label>

        </div>
        <div class="campo-info">
          <input type="text" name="email" required />
          <label class="label-form" for="email">Ingresa tu email</label>

        </div>
        <div class="campo-info">
          <input type="number" id="telefono" required />
          <label class="label-form" for="telefono">Ingresa tu telefono</label>

        </div>
        <div class="campo-info">
          <input type="password" name="password" required />
          <label class="label-form" for="constraseña">Ingresa tu constraseña</label>

        </div>
        <div class="campo-info">
          <input type="password" name="password" required />
          <label class="label-form" for="constraseña">Confirma tu Constraseña</label>

        </div>
        <input class="btn" type="submit" value="Crear Cuenta" />
        <p>¿Ya tenés una cuenta? <a href="#" class="link-login">Inicia sesión</a></p>
      </fieldset>
    </form>
  </main>

</body>

</html>