<footer>
    <div class="enlaces">
        <div>
            <h3>Categorias</h3>
            <ul>
                <li><a href="#">PC de escritorio</a></li>
                <li><a href="#">Notebooks</a></li>
                <li><a href="#">Perifericos</a></li>
                <li><a href="#">Consolas</a></li>
            </ul>
        </div>
        <div>
            <h3>Contactános</h3>
            <ul>
                <li><a href="#"><i class="fas fa-phone-alt"></i> Telefono</a></li>
                <li><a href="#"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
                <li><a href="#"><i class="far fa-envelope"></i> Email</a></li>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i> Ubicacion</a></li>
            </ul>
        </div>
        <div>
            <h3>Siguenos</h3>
            <ul>
                <li><a href="#"><i class="fab fa-facebook-square"></i> Shop-Electronic</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> Shop_Electronic</a></li>
            </ul>
        </div>
    </div>
    <p>Copyright © 2024 SHOP-ELECTRONIC</p>
</footer>