<header>
    <a href="#" id="logo"><img src="/images/logoMobile.png" alt="No se encontro el logo."></a>
    <div class="personal">
        <div class="buscador">
            <input name="keywords" placeholder="BUSCAR PROCESADOR, NOTEBOOK">
            <button><i class="fas fa-search"></i></button>
        </div>
        <div class="cuenta">
            <a href="#" id="sesion"><i class="far fa-user-circle"></i> Iniciar sesión</a>
            <a href="#" id="carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#">INICIO</a></li>
            <li><a href="#">PC DE ESCRITORIO</a></li>
            <li><a href="#">NOTEBOOKS</a></li>
            <li><a href="#">PERIFERICOS</a></li>
            <li><a href="#">CONSOLAS</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
    </nav>
    <div class="boton-desplegable">
        <button><i class="fas fa-bars"></i></button>
    </div>  
</header>