<header>
    <div class="personal">
        <a href="/" id="logo"><img src="/images/logoMobile.png" alt="No se encontro el logo."></a>
        <form action="/products/search" class="buscador" method="GET">
            <input name="search" placeholder="BUSCAR PROCESADOR, NOTEBOOK">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="cuenta">
            <a href="/login" id="sesion"><i class="far fa-user-circle"></i> Iniciar sesión</a>
            <a href="#" id="carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/products/filter/1">PC de escritorio</a></li>
            <li><a href="/products/filter/2">PC Portatiles</a></li>
            <li><a href="/products/filter/4">Perifericos</a></li>
            <li><a href="/about">Acerca de</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
        <ul>
            <li><a href="/register"><i class="far fa-address-card"></i> Registrarme</a></li>
            <li><a href="/login" id="sesion"><i class="far fa-user-circle"></i> Iniciar sesión</a></li>
            <li><a href="#" id="carrito"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </nav>
    <div class="boton-desplegable">
        <button><i class="fas fa-bars"></i></button>
    </div>
</header>